.nav-header{
  margin-top: 0;
  background-color: white;
  height: 120px;
}

.table {
  display: table;
  margin: 0 auto;
}

ul#horizontal-list li{
  display: inline;
  padding-left: 100px;
  margin-left: 50px;
  font-size: 25px;
}

.navbar h3 {
  margin-top: 0;
  font-size: 60px;
  text-align: center;
}

.background-image {
  margin-right: auto;
  margin-left: auto;
  z-index: -10;
  opacity: 0.8;
  display: inline;
  height: 200;
}

.container {
  padding-right: 0;
  padding-left: 0;
  margin-right: 0;
  margin-left: 0;
  height: 50%;
}

.text {
  left: 0;
  position:absolute;
  text-align:center;
  top: 215px;
  width: 100%;
  font-size: 20px;
  padding: 30px;
  display: inline-block;
  background-color:rgba(0, 0, 0, 0.5);
}

.text h1 {
  font-size: 70px;
  color: white;
}

.text p {
  font-size: 30px;
  color: white;
}

.recipe {
  height: 550px;
}

.container-recipes {
  margin-left: 25px;
  margin-top: 25px;
}

a {
  color: green;
}

a:hover {
  background-color:rgba(0, 0, 0, 0.8);
  color: white;
}

#left {
  width: 45%;
  position: fixed;
  left: 20px;
  top: 200px;
  height: 100%;
  padding: 10px;
}

#right {
  width: 45%;
  position: fixed;
  right: 20px;
  top: 200px;
  height: 70%;
  overflow: scroll;
  border: 2px solid green;
  border-radius: 6px;
  padding: 10px;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
}
