<div class="nav-header">
  <div class="navbar">
  <h3 class="text-muted">PantryIO</h3>
  <div class="table">
    <ul id="horizontal-list">
        <li class="active"><a ng-href="#/">Home</a></li>
        <li>|</li>
        <li><a href="#">About</a></li>
        <li>|</li>
        <li ng-if="!navbarController.isLoggedin()"><a ng-href="#/login">Login</a></li>
        <li ng-if="navbarController.isLoggedin()"><a ng-href="javascript:void(0)" ng-click="navbarController.logout()">Logout</a></li>
      </ul>
    </div>
  </div>
</div>
