<div class="container-recipes">
        <div class="col-xs-4" ng-repeat="recipes in recipesController.recipes.recipes">
          <article class='recipe'>
          <img ng-src="{{recipes.image_url}}" width="350" height="300">
          <h2>{{recipes.title}}</h2>
          <h3>Social Rank: {{recipes.social_rank | number: 2}}</h3>

         <div class="search-form" name="searchForm" ng-controller="RecipesController as recipesController" ng-model="recipesController.recipe_id.rId">
          <p><button ng-click="recipesController.loadOneRecipe(recipes.recipe_id)" class="button-submit" class="btn btn-default">View details &raquo;</button></p>
          </article>
        </div>

</div>
